<?xml version="1.0"?>

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  
  <appSettings>

    <add key="siteroot" value="http://www.polkspot.net/ff/" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="cnnstr"  value="Server=polkspot.db.3390320.hostedresource.com;Database=polkspot;uid=polkspot;pwd=i53MCzftmyB0Yh;" xdt:Transform="Replace" xdt:Locator="Match(key)" />
  </appSettings>
  
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
  </system.web>

</configuration>